# Ignore the node_modules directoy
node_modules/

# The file containing environment variables 
.env

# Ignore the following folders: containers, daos, db
/src/containers/
/src/db/

# Ignore config.js file
/src/config.js

# Ignore the uploads folder
/public/uploads