<main>
  <section class="not-found">
    <div class="container">
      <div class="not-found__content">
        <h1>Error 404</h1>
        <h4>Not found</h4>
      </div>
      <a href="/">Back to site</a>
    </div>
  </section>
</main>