<%- include('./partials/header.ejs', { title: 'Home - Tiendita', cartId: cartId }); -%>

<main>
  <section class="products">
    <div class="container">
      <div class="products__header">
        <h2>Productos</h2>
      </div>
      <div class="products__list">

        <% if(products) { %>
      
          <ul class="products-list">
            
            <% products.forEach(function(product){ %>
              
                <li class="products-list__item">
                  <%- include('./partials/productCard.ejs', { product: product }); -%>
                </li>
      
            <% }); %>
      
            </ul>
      
        <% }else{ %>

          <p>No products.</p>

        <% } %>

      </div>
    </div>
  </section>
</main>

<%- include('./partials/footer.ejs'); -%>
