  <% if (showFooter === true) { %>

    <footer class="bg-dark py-3">
      <p class="text-white text-center mb-0">&copy; Copyrigth Tiendita 2022 - Desarrollado por <span class="text-danger">Luca Pandolfelli</span></p>
    </footer>

  <% } %>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>
  <script src="/assets/js/main.js" type="module"></script>
</body>
</html>