<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <header>
    <nav>
      <div class="navbar__brand">
        <h1>Tiendita</h1>
      </div>
      <ul class="navbar__menu">
        <li class="navbar__menu--item"><a href="/">Home</a></li>
        <!-- <li class="navbar__menu--item"><a href="/api/products">Productos</a></li> -->
        <li class="navbar__menu--item"><a href="/api/cart/<%= cartId %>/products">Carrito</a></li>
        <li class="navbar__menu--item"><a href="/user">Profile</a></li>
        <li class="navbar__menu--item"><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </header>

  <hr>